/* Basisstijlen */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden; /* Voorkom horizontaal scrollen */
}

.calculator {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto; /* Standaard breedte */
  max-width: 900px; /* Maximale breedte voor niet-mobiele apparaten */
  margin: 20px auto; /* Centreren met verticale marge */
}

.calculator form {
  display: grid;
  grid-gap: 10px;
}

label,
input[type="text"],
select,
output {
  font-size: 1.1rem;
}

input[type="text"],
select,
output {
  width: 100%; /* Volledige breedte binnen .calculator */
  padding: 12px;
  margin: 4px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

input[type="text"]::placeholder,
select option {
  text-align: center;
}

input[type="text"]:focus {
  border-color: #4a90e2;
  outline: none;
}

output {
  color: #333;
  background-color: #e7e7e7;
  padding: 8px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Media query voor mobiele apparaten */
@media only screen and (max-width: 500px) {
  .calculator {
    width: 100%; /* Volledige breedte op mobiele apparaten */
    margin: 0; /* Verwijder horizontale marges */
    border-radius: 0; /* Verwijder afronding van hoeken */
    box-shadow: none; /* Verwijder schaduw */
  }
}
